<!DOCTYPE html>
<html>
  <head>
    <title>Intranet</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link rel="icon" href="images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <script src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
          >
            <span class="sr-only">Mở thanh điều hướng</span>
            <span class="icon-bar"></span> <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><b>Modern Intranet</b></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Đặt cơm</a></li>
            <li><a href="/list">Danh sách đã đặt</a></li>
            <li><a href="/schedule">Đặt cơm tự động</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" class="active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                >Thông tin <span class="caret"></span
              ></a>
              <ul class="dropdown-menu" role="menu">
                <li class="active">
                  <a href="/blog/guide">Hướng dẫn sử dụng</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div style="margin: 72px 36px">
      <h4>Giới thiệu</h4>
      <div class="text-content">
        ✨ Modern Intranet là công cụ đặt cơm hoạt động dựa trên
        <a href="https://intranet.ved.com.vn" target="_blank"><b>Intranet</b></a
        >, khắc phục những khuyết điểm của hệ thống hiện tại.
        <div class="new-line"></div>
        ✨ Sử dụng lại những API của Intranet nên dữ liệu đặt cơm là chính xác
        100%.
        <div class="new-line"></div>
        ✨ Vẫn tuân thủ khung giờ đặt cơm, tức khoảng từ <b>13h</b> đến
        <b>17h</b>.
      </div>
      <br />
      <h4>Ai nên dùng Modern Intranet ?</h4>
      <div class="text-content">
        ✨ Tất cả mọi người, đặc biệt là những ai thường quên đặt cơm hoặc bận
        vào khung giờ đặt cơm.
      </div>
      <br />
      <h4>Ưu điểm của Modern Intranet</h4>
      <div class="text-content">
        ✨ Hỗ trợ giao diện di động.
        <div class="new-line"></div>
        ✨ Không cần dùng mạng trong hoặc VPN.
        <div class="new-line"></div>
        ✨ Đặt cơm <b>mọi lúc mọi nơi</b>, kể cả đang ở ngoài đường.
        <div class="new-line"></div>
        ✨ Cho phép đặt lịch đặt cơm tự động. <b>Đặt trước cả tuần</b>, có thể
        thay đổi bất cứ lúc nào.
        <div class="new-line"></div>
        ✨ Có <b>email</b> thông báo khi đặt cơm tự động thành công.
      </div>
      <br />
      <h4>Nhược điểm của Modern Intranet</h4>
      <div class="text-content">
        ✨ Hệ thống chưa được kiểm thử ổn định.
        <div class="new-line"></div>
        ✨ Cần có một máy chạy <b>server</b> xuyên suốt ở mạng trong.
      </div>
      <br />
      <h4 id="diagram">Cách hoạt động của Modern Intranet</h4>
      <br />
      <img src="/images/diagram.png" style="width: 96%" /> <br />
      <br />
      <div class="text-content">
        ✨ Source code:
        <a href="https://github.com/modern-intranet" target="_blank"
          ><b>https://github.com/modern-intranet</b></a
        >.
      </div>
    </div>
    <script></script>
  </body>
</html>
