<!DOCTYPE html>
<html>
  <head>
    <title>Intranet</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link rel="icon" href="images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <script src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
          >
            <span class="sr-only">Mở thanh điều hướng</span>
            <span class="icon-bar"></span> <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><b>Modern Intranet</b></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Đặt cơm</a></li>
            <li><a href="/list">Danh sách đã đặt</a></li>
            <li><a href="/schedule">Đặt cơm tự động</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                >Thông tin <span class="caret"></span
              ></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/blog/guide">Hướng dẫn sử dụng</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="center" style="margin-top: 92px">
      <img style="max-width: 80%" width="640" src="/images/404.png" />
    </div>
    <script>
      var message = JSON.parse(`<%- JSON.stringify(message) %>`);
      var error = JSON.parse(`<%- JSON.stringify(error) %>`);
      console.log(message);
      console.log(error);
    </script>
  </body>
</html>
