<!DOCTYPE html>
<html>
  <head>
    <title>Intranet</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link rel="icon" href="images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- jQuery -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Bootstrap select -->
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
          >
            <span class="sr-only">Mở thanh điều hướng</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Modern Intranet</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Đặt cơm</a></li>
            <li><a href="/list">Danh sách đã đặt</a></li>
            <li><a href="/schedule">Đặt cơm tự động</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                >Thông tin <span class="caret"></span
              ></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/guide">Hướng dẫn</a></li>
                <li><a href="/github">Github</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- login succeed but need to choose username -->
    <% if (statusCode === 200) { %>
    <form class="center" action="/login/choose" method="POST">
      <div>
        Chọn họ tên
        <br />
        <select
          id="user"
          name="user"
          class="selectpicker"
          data-live-search="true"
          data-none-selected-text="Danh sách rỗng"
        >
          <% data.users.forEach(user => { %> <% if (!user.email) { %>
          <option value="<%= user.id %>"><%= user.name %></option>
          <% } else { %>
          <option disabled>
            <i><%= user.name %> ❎</i>
          </option>
          <% } %> <% }) %>
        </select>
        <br />
        <br />
        <div class="center">
          <button id="submit-button" type="submit" class="btn btn-primary">
            Xác nhận
          </button>
        </div>
      </div>
    </form>
    <% } %> <% if (statusCode === 403) { %>
    <div class="center" style="margin-top: 64px">
      <!-- login failed -->
      <img
        style="max-width: 80%"
        src="https://dj-extensions.com/images/403-_you_are_not_authorized.png"
      />
    </div>
    <% } %>

    <!-- Parse variables -->
    <script></script>
  </body>
</html>
